{
  "openapi": "3.0.0",
  "info": {
    "title": "Önder Grup Back End API",
    "version": "2.0.0",
    "description": "Önder Grup Back End API for Embedded & Hydraulic",
    "contact": {
      "name": "Halil İbrahim Direktör",
      "email": "hidirektor@gmail.com",
      "url": "https://hidirektor.com.tr"
    }
  },
  "servers": [
    {
      "url": "http://ondergrup.hidirektor.com.tr:3000",
      "description": "Local server"
    }
  ],
  "paths": {
    "/changePass": {
      "post": {
        "summary": "Change user password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName",
                  "oldPassword",
                  "newPassword"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "The username of the user"
                  },
                  "oldPassword": {
                    "type": "string",
                    "description": "The current password of the user"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "The new password for the user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or password change policy violation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password can only be changed once every 7 days"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid credentials, or user not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid current password"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "User login",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName",
                  "password"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "The username of the user"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password of the user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userID": {
                      "type": "string",
                      "description": "The ID of the user"
                    },
                    "accessToken": {
                      "type": "string",
                      "description": "Access token for user authentication"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "Refresh token for user authentication"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error during login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Validation error during login"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid password"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database error during login or unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "examples": {
                      "databaseError": {
                        "summary": "Database error",
                        "value": "Database error during login"
                      },
                      "unexpectedError": {
                        "summary": "Unexpected error",
                        "value": "An unexpected error occurred during login"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "summary": "User logout",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The refresh token of the user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logged out successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Token not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Token not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error logging out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Error logging out"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error details"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Register a new user",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName",
                  "userType",
                  "nameSurname",
                  "eMail",
                  "phoneNumber",
                  "companyName",
                  "password"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "The username of the user"
                  },
                  "userType": {
                    "type": "string",
                    "description": "The type of user (e.g., SysOp, Merchant, Carrier, Customer)"
                  },
                  "nameSurname": {
                    "type": "string",
                    "description": "The name and surname of the user"
                  },
                  "eMail": {
                    "type": "string",
                    "description": "The email address of the user"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The phone number of the user"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "The company name of the user"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userID": {
                      "type": "string",
                      "description": "The unique ID of the user"
                    },
                    "userName": {
                      "type": "string",
                      "description": "The username of the user"
                    },
                    "userType": {
                      "type": "string",
                      "description": "The type of user"
                    },
                    "nameSurname": {
                      "type": "string",
                      "description": "The name and surname of the user"
                    },
                    "eMail": {
                      "type": "string",
                      "description": "The email address of the user"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "The phone number of the user"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "The company name of the user"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or unique constraint error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": {
                        "uniqueError": {
                          "summary": "Unique constraint error",
                          "value": "Username is already taken"
                        },
                        "validationError": {
                          "summary": "Validation error",
                          "value": "Validation error message"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while registering user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred while registering user"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resetPass": {
      "post": {
        "summary": "Reset user's password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName",
                  "newPassword"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "The username of the user"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "The new password for the user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password reset successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while resetting the password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred while resetting the password"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllMachines": {
      "get": {
        "summary": "Retrieve all machines",
        "tags": [
          "Machine"
        ],
        "responses": {
          "200": {
            "description": "A list of all machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The machine ID",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "description": "The machine name",
                            "example": "Machine A"
                          },
                          "type": {
                            "type": "string",
                            "description": "The machine type",
                            "example": "Type X"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No machines found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No any machines found on database."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateOwner": {
      "put": {
        "summary": "Update the owner of a machine",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "machineID",
                  "userName"
                ],
                "properties": {
                  "machineID": {
                    "type": "integer",
                    "description": "ID of the machine to update",
                    "example": 1
                  },
                  "userName": {
                    "type": "string",
                    "description": "Username of the new owner",
                    "example": "johndoe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Machine owner updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Machine owner updated successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User or machine not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createMaintenance": {
      "post": {
        "summary": "Create a new maintenance record",
        "tags": [
          "Maintenance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "machineID",
                  "technicianID"
                ],
                "properties": {
                  "machineID": {
                    "type": "integer",
                    "description": "ID of the machine being maintained",
                    "example": 1
                  },
                  "technicianID": {
                    "type": "integer",
                    "description": "ID of the technician performing the maintenance",
                    "example": 2
                  },
                  "kontrol11": {
                    "type": "integer",
                    "description": "Status of kontrol 11",
                    "example": 1
                  },
                  "kontrol12": {
                    "type": "integer",
                    "description": "Status of kontrol 12",
                    "example": 1
                  },
                  "kontrol13": {
                    "type": "integer",
                    "description": "Status of kontrol 13",
                    "example": 1
                  },
                  "kontrol14": {
                    "type": "integer",
                    "description": "Status of kontrol 14",
                    "example": 1
                  },
                  "kontrol21": {
                    "type": "integer",
                    "description": "Status of kontrol 21",
                    "example": 1
                  },
                  "kontrol22": {
                    "type": "integer",
                    "description": "Status of kontrol 22",
                    "example": 1
                  },
                  "kontrol23": {
                    "type": "integer",
                    "description": "Status of kontrol 23",
                    "example": 1
                  },
                  "kontrol24": {
                    "type": "integer",
                    "description": "Status of kontrol 24",
                    "example": 1
                  },
                  "kontrol31": {
                    "type": "integer",
                    "description": "Status of kontrol 31",
                    "example": 1
                  },
                  "kontrol32": {
                    "type": "integer",
                    "description": "Status of kontrol 32",
                    "example": 1
                  },
                  "kontrol33": {
                    "type": "integer",
                    "description": "Status of kontrol 33",
                    "example": 1
                  },
                  "kontrol34": {
                    "type": "integer",
                    "description": "Status of kontrol 34",
                    "example": 1
                  },
                  "kontrol35": {
                    "type": "integer",
                    "description": "Status of kontrol 35",
                    "example": 1
                  },
                  "kontrol36": {
                    "type": "integer",
                    "description": "Status of kontrol 36",
                    "example": 0
                  },
                  "kontrol41": {
                    "type": "integer",
                    "description": "Status of kontrol 41",
                    "example": 0
                  },
                  "kontrol42": {
                    "type": "integer",
                    "description": "Status of kontrol 42",
                    "example": 0
                  },
                  "kontrol43": {
                    "type": "integer",
                    "description": "Status of kontrol 43",
                    "example": 0
                  },
                  "kontrol44": {
                    "type": "integer",
                    "description": "Status of kontrol 44",
                    "example": 0
                  },
                  "kontrol45": {
                    "type": "integer",
                    "description": "Status of kontrol 45",
                    "example": 0
                  },
                  "kontrol46": {
                    "type": "integer",
                    "description": "Status of kontrol 46",
                    "example": 0
                  },
                  "kontrol51": {
                    "type": "integer",
                    "description": "Status of kontrol 51",
                    "example": 0
                  },
                  "kontrol52": {
                    "type": "integer",
                    "description": "Status of kontrol 52",
                    "example": 0
                  },
                  "kontrol53": {
                    "type": "integer",
                    "description": "Status of kontrol 53",
                    "example": 0
                  },
                  "kontrol54": {
                    "type": "integer",
                    "description": "Status of kontrol 54",
                    "example": 0
                  },
                  "kontrol55": {
                    "type": "integer",
                    "description": "Status of kontrol 55",
                    "example": 0
                  },
                  "kontrol56": {
                    "type": "integer",
                    "description": "Status of kontrol 56",
                    "example": 0
                  },
                  "kontrol61": {
                    "type": "integer",
                    "description": "Status of kontrol 61",
                    "example": 0
                  },
                  "kontrol62": {
                    "type": "integer",
                    "description": "Status of kontrol 62",
                    "example": 0
                  },
                  "kontrol63": {
                    "type": "integer",
                    "description": "Status of kontrol 63",
                    "example": 0
                  },
                  "kontrol71": {
                    "type": "integer",
                    "description": "Status of kontrol 71",
                    "example": 0
                  },
                  "kontrol72": {
                    "type": "integer",
                    "description": "Status of kontrol 72",
                    "example": 0
                  },
                  "kontrol81": {
                    "type": "integer",
                    "description": "Status of kontrol 81",
                    "example": 0
                  },
                  "kontrol82": {
                    "type": "integer",
                    "description": "Status of kontrol 82",
                    "example": 0
                  },
                  "kontrol83": {
                    "type": "integer",
                    "description": "Status of kontrol 83",
                    "example": 0
                  },
                  "kontrol91": {
                    "type": "integer",
                    "description": "Status of kontrol 91",
                    "example": 0
                  },
                  "kontrol92": {
                    "type": "integer",
                    "description": "Status of kontrol 92",
                    "example": 0
                  },
                  "kontrol93": {
                    "type": "integer",
                    "description": "Status of kontrol 93",
                    "example": 0
                  },
                  "kontrol94": {
                    "type": "integer",
                    "description": "Status of kontrol 94",
                    "example": 0
                  },
                  "kontrol95": {
                    "type": "integer",
                    "description": "Status of kontrol 95",
                    "example": 0
                  },
                  "kontrol96": {
                    "type": "integer",
                    "description": "Status of kontrol 96",
                    "example": 0
                  },
                  "kontrol97": {
                    "type": "integer",
                    "description": "Status of kontrol 97",
                    "example": 0
                  },
                  "kontrol98": {
                    "type": "integer",
                    "description": "Status of kontrol 98",
                    "example": 0
                  },
                  "kontrol99": {
                    "type": "integer",
                    "description": "Status of kontrol 99",
                    "example": 0
                  },
                  "kontrol910": {
                    "type": "integer",
                    "description": "Status of kontrol 910",
                    "example": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Maintenance record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Maintenance record created successfully"
                    },
                    "maintenance": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID of the maintenance record",
                          "example": 1
                        },
                        "machineID": {
                          "type": "integer",
                          "description": "ID of the machine being maintained",
                          "example": 1
                        },
                        "technicianID": {
                          "type": "integer",
                          "description": "ID of the technician performing the maintenance",
                          "example": 2
                        },
                        "maintenanceDate": {
                          "type": "integer",
                          "description": "Timestamp of when the maintenance was performed",
                          "example": 1628000000
                        },
                        "kontrol11": {
                          "type": "integer",
                          "description": "Status of kontrol 11",
                          "example": 1
                        },
                        "kontrol12": {
                          "type": "integer",
                          "description": "Status of kontrol 12",
                          "example": 1
                        },
                        "kontrol13": {
                          "type": "integer",
                          "description": "Status of kontrol 13",
                          "example": 1
                        },
                        "kontrol14": {
                          "type": "integer",
                          "description": "Status of kontrol 14",
                          "example": 1
                        },
                        "kontrol21": {
                          "type": "integer",
                          "description": "Status of kontrol 21",
                          "example": 1
                        },
                        "kontrol22": {
                          "type": "integer",
                          "description": "Status of kontrol 22",
                          "example": 1
                        },
                        "kontrol23": {
                          "type": "integer",
                          "description": "Status of kontrol 23",
                          "example": 1
                        },
                        "kontrol24": {
                          "type": "integer",
                          "description": "Status of kontrol 24",
                          "example": 1
                        },
                        "kontrol31": {
                          "type": "integer",
                          "description": "Status of kontrol 31",
                          "example": 1
                        },
                        "kontrol32": {
                          "type": "integer",
                          "description": "Status of kontrol 32",
                          "example": 1
                        },
                        "kontrol33": {
                          "type": "integer",
                          "description": "Status of kontrol 33",
                          "example": 1
                        },
                        "kontrol34": {
                          "type": "integer",
                          "description": "Status of kontrol 34",
                          "example": 1
                        },
                        "kontrol35": {
                          "type": "integer",
                          "description": "Status of kontrol 35",
                          "example": 1
                        },
                        "kontrol36": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol41": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol42": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol43": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol44": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol45": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol46": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol51": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol52": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol53": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol54": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol55": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol56": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol61": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol62": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol63": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol71": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol72": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol81": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol82": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol83": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol91": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol92": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol93": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol94": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol95": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol96": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol97": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol98": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol99": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        },
                        "kontrol910": {
                          "type": "integer",
                          "description": "Status of kontrol 36",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "All fields are required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "All fields are required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteMaintenance": {
      "delete": {
        "summary": "Delete a maintenance record by ID",
        "tags": [
          "Maintenance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "maintenanceID"
                ],
                "properties": {
                  "maintenanceID": {
                    "type": "integer",
                    "description": "ID of the maintenance record to delete",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maintenance record deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Maintenance record deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "MaintenanceID is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "maintenanceID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Maintenance record not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Maintenance record not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editMaintenance": {
      "put": {
        "summary": "Update a maintenance record by ID",
        "tags": [
          "Maintenance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "maintenanceID"
                ],
                "properties": {
                  "maintenanceID": {
                    "type": "integer",
                    "description": "ID of the maintenance record to update",
                    "example": 1
                  },
                  "machineID": {
                    "type": "integer",
                    "description": "ID of the machine being maintained",
                    "example": 2
                  },
                  "technicianID": {
                    "type": "integer",
                    "description": "ID of the technician performing the maintenance",
                    "example": 3
                  },
                  "maintenanceDescription": {
                    "type": "string",
                    "description": "Description of the maintenance performed",
                    "example": "Replaced faulty wiring"
                  },
                  "maintenanceCost": {
                    "type": "number",
                    "description": "Cost of the maintenance",
                    "example": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maintenance record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Maintenance record updated successfully"
                    },
                    "updatedMaintenance": {
                      "type": "object",
                      "description": "Updated maintenance record object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID of the maintenance record",
                          "example": 1
                        },
                        "machineID": {
                          "type": "integer",
                          "description": "ID of the machine being maintained",
                          "example": 2
                        },
                        "technicianID": {
                          "type": "integer",
                          "description": "ID of the technician performing the maintenance",
                          "example": 3
                        },
                        "maintenanceDate": {
                          "type": "integer",
                          "description": "Timestamp of when the maintenance was performed",
                          "example": 1628000000
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "MaintenanceID is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "maintenanceID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Maintenance record not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Maintenance record not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteUser": {
      "delete": {
        "summary": "Deactivate a user by username",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "Username of the user to deactivate",
                    "example": "johndoe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User deactivated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User deactivated successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllUsers": {
      "get": {
        "summary": "Get all active users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "List of active users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "User ID",
                            "example": 1
                          },
                          "username": {
                            "type": "string",
                            "description": "Username of the user",
                            "example": "johndoe"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email of the user",
                            "example": "johndoe@example.com"
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Indicates if the user is active",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No active users found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No active users found in the database."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateRole": {
      "put": {
        "summary": "Update user role",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName",
                  "newRole"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "Username of the user",
                    "example": "johndoe"
                  },
                  "newRole": {
                    "type": "string",
                    "description": "New role to assign to the user",
                    "example": "admin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User role updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User role updated successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createHydraulicUnit": {
      "post": {
        "summary": "Create a new Hydraulic Unit",
        "tags": [
          "HydraulicUnit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "userName",
                  "orderID",
                  "hydraulicType",
                  "partListFile",
                  "schematicFile"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "Username of the user"
                  },
                  "orderID": {
                    "type": "string",
                    "description": "Order ID of the hydraulic unit"
                  },
                  "hydraulicType": {
                    "type": "string",
                    "description": "Type of the hydraulic unit"
                  },
                  "partListFile": {
                    "type": "string",
                    "format": "binary",
                    "description": "Excel file containing the part list"
                  },
                  "schematicFile": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF file containing the schematic"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hydraulic Unit created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Hydraulic Unit created successfully"
                    },
                    "update": {
                      "$ref": "#/components/schemas/HydraulicUnit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "userName, orderID, hydraulicType, partListFile and schematicFile are required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/downloadPartList": {
      "post": {
        "summary": "Download the part list file for a specific Hydraulic Unit",
        "tags": [
          "HydraulicUnit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderID"
                ],
                "properties": {
                  "orderID": {
                    "type": "string",
                    "description": "The order ID of the Hydraulic Unit"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the part list file",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Hydraulic Unit not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "HydraulicUnit not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/downloadSchematic": {
      "post": {
        "summary": "Download the schematic file for a specific Hydraulic Unit",
        "tags": [
          "HydraulicUnit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderID"
                ],
                "properties": {
                  "orderID": {
                    "type": "string",
                    "description": "The order ID of the Hydraulic Unit"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the schematic file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Hydraulic Unit not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "HydraulicUnit not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getHydraulicStats": {
      "get": {
        "summary": "Get statistics for hydraulic units",
        "tags": [
          "HydraulicUnit"
        ],
        "responses": {
          "200": {
            "description": "Statistics of hydraulic units",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Sipariş Sayısı": {
                      "type": "integer",
                      "description": "Total number of orders",
                      "example": 150
                    },
                    "Klasik": {
                      "type": "integer",
                      "description": "Number of 'Klasik' type hydraulic units",
                      "example": 75
                    },
                    "Hidros": {
                      "type": "integer",
                      "description": "Number of 'Hidros' type hydraulic units",
                      "example": 50
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Sunucu hatası"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getHydraulicUnitNumber": {
      "get": {
        "summary": "Get list of all hydraulic unit order numbers",
        "tags": [
          "HydraulicUnit"
        ],
        "responses": {
          "200": {
            "description": "A list of hydraulic unit order numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "ORD12345"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPartList/{orderID}": {
      "get": {
        "summary": "Get the part list file for a specific Hydraulic Unit",
        "tags": [
          "HydraulicUnit"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orderID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID of the Hydraulic Unit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the part list file",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Hydraulic Unit not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "HydraulicUnit not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getSchematic/{orderID}": {
      "get": {
        "summary": "Get the schematic file for a specific Hydraulic Unit",
        "tags": [
          "HydraulicUnit"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orderID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID of the Hydraulic Unit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the schematic file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Hydraulic Unit not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "HydraulicUnit not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addMachine": {
      "post": {
        "summary": "Add a new machine",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "machineID": {
                    "type": "string",
                    "description": "The ID of the machine",
                    "example": "M1234"
                  },
                  "ownerID": {
                    "type": "string",
                    "description": "The ID of the owner",
                    "example": "O5678"
                  },
                  "machineType": {
                    "type": "string",
                    "description": "The type of the machine",
                    "example": "TypeA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Machine added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Machine added successfully"
                    },
                    "machine": {
                      "$ref": "#/components/schemas/Machine"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "All fields are required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/checkMachineID": {
      "get": {
        "summary": "Check if a machine exists by machineID",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "machineID": {
                    "type": "string",
                    "description": "The ID of the machine to check",
                    "example": "M1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Machine exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Machine exists"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "machineID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Machine not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Machine not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getErrors": {
      "get": {
        "summary": "Retrieve all errors for a specific machine",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "machineID": {
                    "type": "string",
                    "description": "The ID of the machine",
                    "example": "M1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of machine errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machineErrors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MachineError"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "machineID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No machine errors found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No machine errors found for this machine"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getErrorsAll": {
      "get": {
        "summary": "Retrieve all errors for all machines owned by a specific user",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userID": {
                    "type": "string",
                    "description": "The ID of the user",
                    "example": "U1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of machine errors for the user's machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MachineError"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "userID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No machines found for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No machines found for this user"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMachines": {
      "get": {
        "summary": "Retrieve all machines owned by a specific user",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownerID": {
                    "type": "string",
                    "description": "The ID of the owner",
                    "example": "O5678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of machines owned by the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Machine"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "ownerID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No machines found for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No machines found for this user"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMaintenances": {
      "get": {
        "summary": "Retrieve all maintenances for a specific machine",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "machineID": {
                    "type": "string",
                    "description": "The ID of the machine",
                    "example": "M1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of maintenances for the machine",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machineMaintenances": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Maintenance"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "machineID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No maintenances found for the machine",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No maintenances found for this machine"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMaintenancesAll": {
      "get": {
        "summary": "Retrieve all maintenances for all machines owned by a specific user",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userID": {
                    "type": "string",
                    "description": "The ID of the user",
                    "example": "U1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of maintenances for the user's machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maintenances": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Maintenance"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "userID is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No machines found for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No machines found for this user"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateMachine": {
      "put": {
        "summary": "Update or create machine data",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "machineID": {
                    "type": "string",
                    "description": "The ID of the machine",
                    "example": "M1234"
                  },
                  "updateData": {
                    "type": "object",
                    "description": "Data to update or create for the machine",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Machine data updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Machine data updated"
                    },
                    "updatedMachine": {
                      "$ref": "#/components/schemas/MachineData"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Machine data created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Machine data created"
                    },
                    "newMachineData": {
                      "$ref": "#/components/schemas/MachineData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "machineID is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateMachineRaw": {
      "put": {
        "summary": "Update or create machine data",
        "tags": [
          "Machine"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "machineID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the machine",
            "example": "M1234"
          },
          {
            "in": "query",
            "name": "updateData",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "description": "Data to update or create for the machine"
          }
        ],
        "responses": {
          "200": {
            "description": "Machine data updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Machine data updated"
                    },
                    "updatedMachine": {
                      "$ref": "#/components/schemas/MachineData"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Machine data created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Machine data created"
                    },
                    "newMachineData": {
                      "$ref": "#/components/schemas/MachineData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "machineID is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendMail": {
      "post": {
        "summary": "Send an OTP to the user's email",
        "tags": [
          "OTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The user's email address",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otpSent": {
                      "type": "integer",
                      "description": "The UNIX timestamp when the OTP was sent",
                      "example": 1628070943
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid email. User not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Failed to send OTP email. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendSMS": {
      "post": {
        "summary": "Send an OTP via SMS to the user's phone number",
        "tags": [
          "OTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "The user's username",
                    "example": "john_doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otpSent": {
                      "type": "integer",
                      "description": "The UNIX timestamp when the OTP was sent",
                      "example": 1628070943
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid userID or phone number. User not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Error sending SMS"
                    },
                    "error": {
                      "type": "object",
                      "description": "Detailed error response from Netgsm API"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verifyOTP": {
      "post": {
        "summary": "Verify the OTP sent to the user",
        "tags": [
          "OTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "The user's username",
                    "example": "john_doe"
                  },
                  "otpCode": {
                    "type": "string",
                    "description": "The OTP code received by the user",
                    "example": "123456"
                  },
                  "otpSent": {
                    "type": "integer",
                    "description": "The UNIX timestamp when the OTP was sent",
                    "example": 1628070943
                  }
                }
              }
            }
          }
[...]
